style {
    :root {
        --primary: #51789d;
        --secondary: #0c1a13;
        --tertiary: #667e94;
    }
    body {
        background-color: var(--tertiary);
        color: var(--secondary);
    }
    [draggable] {
        user-select: none;
    }
}

Menu
Content